.Modal-Holder {
  display: flex;

  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(9, 9, 126, 0.5) 0%,
    rgba(33, 33, 33, 0.5) 35%,
    rgba(0, 0, 0, 0.5) 100%
  );

  align-items: center;
  justify-content: center;
}
.Modal {
  transition: all 0.1s ease-in-out;

  display: flex;
  flex-direction: column;
  background: #222;
  opacity: 1;

  width: auto;
  height: auto;
  min-width: 33%;
  @media only screen and (max-width: 900px) {
    min-width: 66%;
  }
  min-height: 25%;

  &.opening {
  }
  &.opened {
  }
  &.closing {
  }
  &.closed {
  }

  .Modal-Header {
    display: flex;
    flex: 1;
    background: none;
  }
  .Modal-Body {
    display: flex;
    flex: 20 1;
    background: none;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding-bottom: 20px;
  }
  .Modal-Footer {
    display: flex;
    flex: 1;
    .Button {
      font-size: 2rem;
      flex: 1;
    }
  }
}
