.Button {
  border: none;
  // border-bottom: solid 1px #000;
  flex: 0;
  cursor: pointer;
  padding: 0.4rem 1rem;
  margin-left: 1px;

  display: inline-flex;
  align-items: center;

  &:first-child {
    margin-left: 0;
  }

  .Icon:first-child {
    padding-right: 4px;
  }
  .Icon:last-child {
    padding-left: 4px;
  }

  // default
  color: #ddd;
  background: #444;

  &:hover {
    color: #cbcb41;
    background: #777;
  }

  // primary
  &.primary {
    color: #ccc;
    background: #175177;

    &:hover {
      color: #fff;
      background: lighten(#175177, 10%);
    }
  }
}
