.Card {
  transition: all 0.1s ease-in-out;

  display: flex;
  flex-grow: 1;
  flex-basis: 20%;

  cursor: pointer;

  min-width: 200px;
  max-width: 300px;
  min-height: 150px;
  max-height: 150px;

  padding: 4px;
  margin: 2px;

  background: #333;
  border: solid 2px #333;

  img {
    max-width: 100%;
  }

  &:hover {
    border: solid 2px lighten(#cbcb41, 10%);
  }

  .inner {
    display: flex;
    flex-direction: column;
  }
}
