.Input {
  transition: all 0.1s ease-in-out;

  color: #eee;
  background: #444;
  border: solid 1px #6386b0;

  font-size: 14px;
  font-weight: normal;

  width: auto;
  min-height: 24px;

  margin: 0;
  padding: 2px 4px;

  &:hover {
    background: #444;
    border: solid 1px lighten(#6386b0, 10%);
  }
  &:focus {
    border: solid 1px #cbcb41;
  }
}
