.MenuOption {
  padding: 0.75rem;
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px #000;

  Icon {

  }

  &:hover {
    cursor: pointer;
    color: #cbcb41;
    background: #444;
  }

  &:hover * {
    fill: currentColor;
  }
}
