.Panel {
  display: flex;
  flex-direction: column;
  transition: flex-grow 200ms ease-in-out;
  border-bottom: solid 1px #000;

  .Title {
    color: #ccc;
    background: #383838;
    cursor: pointer;
    font-weight: bold;
    padding: 0.4rem;
  }
  &:hover {
    .Title {
      color: #cbcb41;
    }
  }

  .Content {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-items: flex-start;
    justify-content: flex-start;
  }

  &.expanded {
    flex: 1;
    .Title {
      color: #fff;
    }
    &:hover {
      .Title {
        color: #cbcb41;
        background: #444;
      }
    }
    .Content {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }
}
