.PanelLink {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px #000;
  flex: 0;
  cursor: pointer;
  padding:  0.4rem;
  padding-left: 1rem;

  &:first-child {
    border-top: solid 1px #000;
  }

  &:hover {
    background: #444;
    color: #cbcb41;
  }

}
