.ProjectCard {
  display: flex;

  &:hover {
  }

  .inner {
    h2 {
      margin: 0;
      padding: 0;
    }

    p {
      color: #ccc;
    }

    .info {
      margin-top: auto;
    }

    .actions {
      margin-top: auto;
    }
  }
}
