.Row {
  background: #1e1e1e;
  display: flex;
  flex-direction: row;
  flex: 1;
  border-left: solid 1px black;
  transition: flex-grow 200ms ease-in-out;
  overflow: none;

  &:first-child {
    border-left: none;
  }

  &.MenuOptions {
    min-width: 54px;
    max-width: 54px;
    background: #333333;
  }

  &.Panels {
    min-width: 280px;
    max-width: 280px;
    background: #252525;
  }
}
