.Select {
  transition: all 0.1s ease-in-out;

  outline: none;
  border: solid 1px #6386b0;

  color: #eee;
  background: #444;

  font-size: 14px;
  font-weight: normal;

  // width: auto;
  width: max-content;
  min-height: 28px;

  margin: 0;
  padding: 4px;

  cursor: pointer;

  option {
    background: none;
    color: #fff;
    font-size: inherit;
    font-weight: inherit;
    padding: 0px 4px;
    cursor: pointer;

    &:hover {
      color: #cbcb41;
      background: lighten(#6386b0, 10%);
    }
    &[selected] {
      color: #cbcb41;
      background: #444;
    }
  }

  &:hover {
    background: #444;
    border: solid 1px lighten(#6386b0, 10%);
  }
  &:focus {
    border: solid 1px #cbcb41;
  }
}
