html,
body,
.viewport {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
  color: #fff;
  background: #1e1e1e;
  overflow: hidden;
}

body {
  min-height: 100vh;
  font-size: 13px;
  font-weight: normal;
}

// base typographic elements
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

// base form elements
input {
  border: none;
  outline: none;
  margin: 0;
  padding: 2px;
}

.App {
}
