// primary colors
$white: #fff;
$black: #000;

$dark-grey: #333;
$grey: #777;
$light-grey: #bebebe;

$blue: #6386b0;
$yellow: #cbcb41;

// backgrounds
$bg-dark-grey: #222;
$bg-grey: #777;
$bg-light-grey: #bebebe;

$primary: #175177;
$secondary: #cbcb41;
