.TableColumn,
.SimpleColumn,
.DetailedColumn {
  border-bottom: solid 1px #6386b0;
  color: #eee;
  font-size: 14px;
  font-weight: normal;
  td:hover {
    background: #444;
  }
  input {
    background: none;
    color: #fff;
    font-size: inherit;
    font-weight: inherit;
    width: 100%;
  }
  select {
    max-width: 110px;
    background: none;
    border: none;
    &:hover {
      border: none;
    }
    &:focus {
      border: none;
    }
  }

  /* Column Type Dropdown /*
  .ui-select {
    width: 100%;
  }
  /* This is to remove the arrow of select element in IE */
  select::-ms-expand {
    display: none;
  }
  select {
    -webkit-appearance: none;
    appearance: none;
  }
  @-moz-document url-prefix() {
    .ui-select {
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
    }
    .ui-select select {
      width: 110%;
      background-position: right 30px center !important;
      border: none !important;
    }
  }

  /* Column Type Size input */
  .column-size {
    color: #fff;
    background: none;
    border: none;
    margin-right: 4px;
    font-size: inherit;
    font-weight: inherit;
    width: 100%;
    min-width: 24px;
    text-align: right;
  }
}
