.Table {
  transition: all 0.1s ease-in-out;
  background-color: #222;
  border: solid 2px #175177;
  min-width: 150px;
  width: 150px;
  //
  width: auto !important;

  // text
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  cursor: move;
  user-select: none;
  input {
    background: none;
    color: #fff;
    font-size: inherit;
    font-weight: inherit;
  }
  table {
    border: none;
    border-collapse: collapse;
  }
  thead {
    font-weight: bold;
    tr {
      border-bottom: solid 2px #175177;
      td:hover {
        background: #444;
      }
    }
  }
  tbody {
    tr {
      border-bottom: solid 1px #171717;
    }
  }

  &.modeSKETCH {
    min-width: 100px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    thead {
      tr {
        border-bottom: none !important;
      }
    }
    tbody {
      tr {
        border-bottom: none !important;
      }
    }
  }
  &.modeSIMPLE {
    min-width: 150px;
    border: solid 2px #175177;
  }
  &.modeFULL {
    min-width: 250px;
    border: solid 2px #175177;
  }

  &.selected {
    border: solid 2px #cbcb41;
    thead {
      tr {
        border-bottom: solid 2px #cbcb41;
      }
    }
    &:hover {
      border: solid 2px lighten(#cbcb41, 10%);
    }
  }
  &:hover {
    border: solid 2px lighten(#175177, 14%);
  }
  &.dragging {
    transition: none;
  }
}

.draggable-area {
  position: absolute;
  display: block;
  width: 500%;
  height: 700%;
  min-height: 700px;
  margin: -200% -200%;
  background: none;
  // opacity: 0.5;
}
