.ToolBar {
  display: flex;
  align-items: center;
  padding: 0 8px;
  //
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 30px;
  height: 30px;
  //
  background: #383838;
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
  //
  color: #ccc;
  font-size: 12px;
  font-weight: normal;
}
