.StatusBar {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  //
  position: absolute;
  bottom: 0;
  width: auto;
  height: 24px;
  //
  background: #383838;
  border-top: solid 1px #000;
  //
  color: #ccc;
  font-size: 12px;
  font-weight: normal;
  //
  span {
    padding-left: 8px;
    &.pill {
      padding: 0 4px;
      margin: 0 1px;
      background: #777;
      border-radius: 2px;
    }
  }
  // sides
  .left {
    justify-items: flex-start;
  }
  .right {
    margin-left: 100px;
    justify-items: flex-end;
  }
}
